@charset "UTF-8";

/*---------Common Section-------*/

html{
  font-size: 100%;
}

body{
  font-family: "Yu Gothic Medium", sans-serif;
  line-height: 1.7;
  color: #432;
}
a{
  text-decoration: none;
}

img{
  max-width: 100%;
}
@media (max-width: 600px){
  h1{ color: #0bd;}
}

.logo{
  width: 210px;
  margin-top: 14px;
}

.main-nav{
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}

.main-nav li{
  margin-left: 36px;
}
.main-nav a{
  color: #432;
}

.main-nav a:hover{
  color: #0bd;
}

.page-header{
  display: flex;
  justify-content: space-between;
}
.wrapper{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
  /*border: 1px black solid;*/
}
/*Home Content*/
.home-content{
  text-align: center;
  margin-top: 10%;
  /*border: 1px black solid;*/
}
.home-content p{
  font-size: 1.25rem;
  margin: 10px 0 42px;
}

/*Title*/
.page-title{
  font-size: 5rem;
  font-family: 'Philosopher', serif;
  text-transform: inherit;
  font-weight: normal;
}
/*Button*/
.button{
  font-size: 1.375rem;
  background: #0bd;
  color: #fff;
  border-radius: 1.25rem;
  padding: 18px 32px;
}
.button:hover{
  background: #008099;
}
.main-background{
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
#home{
  background-image: url(../images/main-bg.jpg);
  min-height: 100vh;

}
/*News*/
#news{
  background-image: url(../images/news-bg.jpg);
  height: 270px;
  margin-bottom: 40px;

}

#news .page-title{
  text-align: center;
}

/*footer*/
footer{
  background: #432;
  text-align: center;
  padding-left: 26px 0;
}

footer p{
  color: #fff;
  font-size: 0.8rem;
}
/*News content*/
article{
  width: 60%;
  order: 2;
  /*border: 1px solid #000;*/
}
article img{
  margin-bottom: 20px;
  padding: 1%;
}
article p{
  margin-bottom: 1rem;
}

aside{
  width: 20%;
  order: 3;
/*  border: 1px solid #000;*/
}
.ad{
  width: 20%;
  order: 1;
}

.sub-title{
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px #0bd solid;
  font-weight: normal;
}
aside p{
  padding: 12px 10px;
}
.news-contents{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.sub-menu{
  margin-bottom: 60px;
  list-style: none;
}
.sub-menu li{
  border-bottom: 1px #ddd solid;
}
.sub-menu a{
  color: #432;
  padding: 10px;
  display: block;
}

.sub-menu a:hover{
  color: #0bd;
}

.post-info{
  position: relative;
  padding-top: 4px;
  margin-bottom: 40px;
}

.post-date{
  background: #0bd;
  border-radius: 50%;
  color: #fff;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  padding-top: 10px;
}
.post-date span{
  font-size: 1rem;
  border-top: 1px rgba(255,255, 255, 0.5) solid;
  padding-top: 6px;
  display: grid;
  width: 60%;
  margin: 0 auto;
}

.post-title{
  font-family: "Yumincho";serif;
  font-size: 2rem;
  font-weight: normal;
}
.post-title, .post-cat{
  margin-left: 120px;
}

/*Menu*/
#menu{
  background-image: url(../images/menu-bg.jpg);
  min-height: 100vh;
}
.menu-content{
  max-width: 500px;
  margin-top: 10%;

}
.menu-content .page-title{
  text-align: center;
}
.menu-content p{
  font-size: 1.125rem;
  margin: 10px 0 0 0;
}
.grid{
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit,minmax(260px, 1fr));
  margin-top:6%;
  margin-bottom: 50px;
}
.big-box{
  grid-column: 1/3;
  grid-row: 1/3;

}

.big-box img{
  height: 94%;
  width: 100%;
  object-fit: cover;
}

/*Contact*/
#contact{
  background-image: url(../images/contact-bg.jpg);
  min-height: 100vh;
}
/*Form*/

form div{
  margin-bottom: 14px;
}
label{
  font-size: 1.25rem;
  margin-bottom: 10px;
  display: block;
}
input[type="text"],input[type="email"], textarea{
  background: rgba(255,255,255, 0.5);
  border: 1px #fff solid;
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
  max-width: 250px;
}
textarea{
  height: 6rem;
}
input[type="submit"]{
  border: none;
  cursor: pointer;
  line-height: 1;
}
/*Map*/
#location{
  padding: 4% 0;
}
#location .wrapper{
  display: flex;
  justify-content: space-between;
}
iframe{
  width: 100%;
}
.location-info{
  width: 22%;
}
.location-info p{
  padding: 12px 10px;
}
.location-map{
  width:74%
}
/*Sns*/
#sns{
  background: #faf7f0;
  padding: 4% 0;
}
#sns .wrapper{
  display: flex;
  justify-content: space-around;
}

#sns .sub-title{
  margin-bottom: 30px;
}
#sns .sns-box{
  width: 45%;
}

/*For Mobile*/
@media (max-width:600px) {
  .page-title{
    font-size: 2.5rem;
  }
  /*header*/
  .main-nav{
    font-size: 1rem;
    margin-top: 10px;
  }
  .main-nav li{
    margin: 0 20px;
  }
  .home-content{
    margin-top: 20%;
  }
  .page-header{
    flex-direction: column;
    align-items: center;
  }
  /*news*/

  .news-contents{
    flex-direction: column;
    }
    article, aside{
      width: 100%;
    }
    .ad{
      width: 20%;
      order: 3;}
  /*menu*/
  .menu-content{
    margin-top: 20%;
  }

  .big-box{
    grid-column: auto;
    grid-row: auto;
    margin-bottom: 5%;
  }
  .big-box img{
    height: 100%;

  }
  /*contact*/
  #contact .page-title{
    margin-top: 40px;
  }
  /*form*/
  input[type="text"],input[type="email"], textarea{
    max-width: 100%;
  }
  #contact .button{
    margin-bottom: 5%;
  }
  #location .wrapper{
   flex-direction: column;
  }
  iframe{
    width: 100%;
  }
  .location-info{
    width: 90%;
  }
  .location-map{
    width:90%;
  }
  #sns .wrapper{
   flex-direction: column;
   align-items: center;
  }
  #sns .sns-box{
    width: 90%;
  }
}
