/*
Student Name: Ching Yiu Leung
Student ID: 301221975
Date: 16/10/2022
*/

/* Color Theme */
.color-theme_c5ea260f95d23895d238eb6b28439fde-1-hex { color: #011126; }
.color-theme_c5ea260f95d23895d238eb6b28439fde-2-hex { color: #699EBF; }
.color-theme_c5ea260f95d23895d238eb6b28439fde-3-hex { color: #AED8F2; }
.color-theme_c5ea260f95d23895d238eb6b28439fde-4-hex { color: #A6702E; }
.color-theme_c5ea260f95d23895d238eb6b28439fde-5-hex { color: #F2DEC4; }

/*Template*/

.header{
    display:flex;
    gap: 50px;
    font-size: 24px;
    line-height: 2.5rem;
}
.header img{
    width: 10vw;
    height: 10vw;
    background-color: #011126;
    border-radius: 50%;
    border:2px transparent solid;
}
.header img:hover{
    background-color: #699EBF;
    border:2px #011126 solid;
}
.header h1{
    padding: 3% 0;
}
.nav{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style:square;
    border-top:3px solid #011126;
    border-bottom:3px solid #242424;
    padding: 1vh 0;
    margin: 5vh 2.5vw 0 2.5vw;
}
.nav a{
    font-size: 150%;
    text-decoration: none;
    color: #242424;
    border: 2px transparent solid;
    margin: 10px;
    padding: 5px;
}
.nav a:hover{
    border: 2px #011126 solid;
}
body{
    background-color: #011126;
    font-family:Verdana;
    font-size: 1.25rem;
    color: #B2B2B2;
    margin: 1vh 5vw;
    line-height: 200%;
}
.wrapper{
    width: 80wh;
    min-height: 50vh;
    margin: 0 15vw;
    background-color: #F2DEC4;
    color:#011126;
    padding: 2.5%;
    border-radius: 5%;
}
main{
    padding: 5vh 0;
    min-height: 50vh;
}
footer{
    height: 5vh;
    background-color: #011126;
    color: #F2DEC4;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    text-align: center;
    padding: 1% 0;
    margin:10vh 0 0 0 ;
}
a{
    text-decoration: none;
    color:#011126;
    border-left: 2px solid #699EBF;
    border-top: 2px solid #699EBF;

}
a:hover{
    border-left: 2px solid #A6702E;
    border-top: 2px solid #A6702E;
    box-shadow: 5px 5px #A6702E;
}
/*index*/
.welcome{
    margin: 0 auto;
    width: 80%;
    height: 60vh;
    font-family: 'Fondamento', cursive;
    font-size: 1.5rem;
    line-height: 3rem;
    align-items: center;
    padding: 10vh 0;
}
q{
    padding: 0 0 0 60%;
}
.mission{
    margin: 10px auto;
    width: 80%;
    height: 40vh;
}
/*About*/
.about{
    display: grid;
    grid-template-columns: 400px 450px;
    grid-template-rows: 500px;
    column-gap: 40px;
    row-gap: 40px;
    justify-items:stretch;
    margin: 0 2.5vw;
}
.photo img{
    max-width: 400px;
    height: 450px;
}
.photo, .paragraph{
    width: 350px;
    height: 40px;
}
/*Project*/
.project{
    margin-left: 2.5vw;
}
.card{
    border: 2px #011126 solid;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 5px #A6702E;
    margin:0 2.5vw 2.5vh 0;;
}

.pj-photo img{
    max-width: 800px;
    width: 40vw;
    max-height: 400px;
    border: 2px #011126 solid;
    box-shadow: 5px 5px #A6702E;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}
.description{
    max-width: 400px;
    min-height: 240px;
    margin: 15px 0 0 6.5vw;
    padding-top: 0px;
    text-align: left;
    
}
/*Service*/
.service{
    width: 40vw;
    margin-left: 2.5vw;

}
.service-provide{
    width: 50vw;
    display: flex;
    flex-wrap: nowrap;

}
.item{
    width: 25vw;
    height: 17vw;
    margin: 10px;
}
.item img{
    width: 100%;
    height: 100%;
    display: block;
}
/*Contact*/
.contact{
    margin:0 2.5vw;
}
button{
    padding: 0.75rem;
    font-size: 1.3rem;
}
#fnamealert, #lnamealert, #emailalert{
    color: red;
    font-size: 80%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
border: 1px solid #011126;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #AED8F2;
}