
<div class="project">
    <h1>Hello this is Project page</h1>
    <P>Here are some web projects I have done.</P>  
    <div class="card">
        <div class="pj-photo">
            <img src="img/project1.png" alt="">
        </div>
        <div class="description">
            <h2><a href="https://victorleung93.github.io/page-demo/assignment/Term%20Project/homepage.html" target="_blank">Web Design Term Project</a></h2>
            <p>This is a basic web site designed for a Canadian housing agent. Inside the wedsite, there are some infomation about properties for sale and contact form for further enquiry.</p>
        </div>
    </div>
    <div class="card">
        <div class="pj-photo">
            <img src="img/project2.png" alt="">
        </div>
        <div class="description">
            <h2><a href="https://victorleung93.github.io/page-demo/assignment/JS%20Assignment5/homepage.html" target="_blank">JavaScript project <pre>Bug Catcher Game</pre></a></h2>
            <p>This is a JavaScript based game that let the players click on the head of Leonardo to get score. The heigher they score, the faster Leonardo will run.</p>
            <p> You can try it and see how many times you can catch him!</p>
        </div>
    </div>
    <div class="card">
        <div class="pj-photo">
            <img src="img/project3.png" alt="">
        </div>
        <div class="description">
            <h2><a href="https://victorleung93.github.io/page-demo/assignment/JS%20Assignment%206/homepage.html" target="_blank">JavaScript project: <pre> Pokemon Photo Gallery</pre></a></h2>
            <p>The is a JavaScript based photo gallery act to show Pokemon photos on the web page.</p>
            <p>it was design to pretend it was a promotional web site for the new upcoming game launch. It displays the newest Pokemon in the game and the website will automatically show the next photo if the users doesnot interact with it and loop over the whole gallery.</p>
        </div>
    </div>
</div>