@charset "UTF-8";

body{
  background-color: #49341F;
}
h1, h2, h3{
  font-family: sans-serif;
  text-shadow: 1px 1px White;
}

.container{
  margin: 1px 18vw 0 10vw;
  padding: 1% 20px;
  background-color: #E0D8D1;
  color:#996128;
  max-width: 1080px;
}
.container p{
  padding-left: 10px;
}
.container img{
  max-height: 500px;
  min-width: 200px;
  width: 24vw;
  max-width: 400px;
  padding: 10px;
}
#details{
  max-height: 1080px;
  min-width: 50vw;
  max-width: 400px;
  padding: 10px;
}
.container a{
  color:#996128;
  padding-left: 10px;
}
main.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#banner{
  width: 100%;
  min-width: 368px;
  min-height: 130px;
  background-image: url(../coffeebanner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #E0D8D1;
  line-height: 19vw;
  padding-left: 1%;
}
#banner h2{
  text-shadow: 2px 2px black;
}
#item1{
  width: 960px;
}
#item2{
  width: 65vw;
  display: flex;
  flex-wrap: wrap;
}
#item5{
  width: 25vw;
  min-width: 200px;
}
#item3{
  margin-left: 10px;
  min-width: 28vw;
  max-width: 400px;
}
#nav{
  font-size: 1.6rem;
  background-color: #996128;
  display: block;
  flex-direction: row;
}
#nav_a{
  color:#E0D8D1;
  position: relative;
  text-shadow: 1px 1px black;
}
.home{
  text-align: right;
}
#nav img{
  align-items: center;
  width: 10vw;
}
table, td, th{
  text-align: left;
  margin: 0.8rem;
  border: 2px solid #49341F;
  border-collapse: collapse;
  width: 40vw;
  line-height: 1.6rem;
  padding-left: 1%;
  color:#996128;
}
th{
  font-size: 1.2rem;
  background-color: #59442F;
  color:#E0D8D1;
}
.even td{
  background-color: #59442F;
  color:#E0D8D1;
}
iframe{
  width: 40vw;
  height: 40vh;
}
.location-map ul, li{
  font-size: 20px;
  line-height: 1.8rem;
}
footer{
  border-top: 2px solid #555555;
  position: relative;
  font-size: 80%;
  line-height: 0.8rem;
}
a:hover{
  font-size: 103%;
  text-shadow: 1px 1px white;
  transition: 0.3s;
}
