<div class="login">
    <form class="" action="index.html" method="post">
        <fieldset> 
            <legend>Personal Infomation:</legend>
            <label for="username">User Name:</label><span id="usernamealert"></span><br><input type="text" id="username" value="" required><br>
            <label for="password">Password:</label><span id="passwordalert"></span><br><input type="password" id="password" value="" required><br>
        </fieldset>
        
        <fieldset>
            <legend>Login:</legend>
            
            <button type="button" onclick="login()" name="login">login</button> 
            <button type="reset" name="clearlogin" onclick="clearlogin()">Clear</button>
        </fieldset>
        

      </form>
</div>