
<div class="service">
    <h1>Hello this is Services page</h1>

    <p>Here are some software services I can provide. Please feel free to contact me if you have some idea on website or applications.</p>
    <div class="service-provide">
        <div class="item">
            <img src="img/webdd.png" alt="">
        </div>
        <div class="item">
            <img src="img/database.png" alt="">
        </div>
    </div>
    <p>If you are wondering what kind of websites I have done, just click <a href="project">here</a> to have a look.</p>
</div>