<div >
    <ul class="nav">
        <li><a href="index">Home</a></li>
        <li><a href="about">About Me</a></li>
        <li><a href="project">Projects</a></li>
        <li><a href="services">Services</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="update">Update</a></li>
    </ul>
</div>