<h1>This is a Business content list</h1>

<p>This part will only show when user is authenticated</p>

<div class="reader" id="reader">
    <table id="datatable">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Contact Number</th>
        </tr>
        <tbody>
            
            <% for(let count = 0 ; count < content.length ; count++ ){ %>
                <tr>
                    <td><%- content[count].firstname + " " + content[count].lastname %></td>
                    <td><%- content[count].email %></td>
                    <td><%- content[count].phone %></td>
                </tr>
            <% } %>
                

            
        </tbody>
        
        
    </table>
    
</div>