<div class="login">
    <form class="" id="login-form" action="/login" method="POST">
        <fieldset> 
            <legend>Login:</legend>

            <label for="username">User Name:</label>
                <span id="usernamealert"></span><br>
                <input type="text" id="username" name="username" required><br>

            <label for="password">Password:</label>
                <span id="passwordalert"></span><br>
                <input type="password" id="password" name="password" required><br><br>

            <button type="submit" name="login">login</button>   
            
            <button type="reset" name="clearlogin" >Clear</button>
        </fieldset>
     </form>
</div>

