<h1>This is Registration</h1>
<form id="reg-form" action="">
    <fieldset> 
        <legend>Registration:</legend>
        <input type="text" id="reg-firstname" required placeholder="firstname"><br>
        <input type="text" id="reg-lastname" required placeholder="lastname"><br>
        <input type="number" id="reg-phone"  required placeholder="phone"><br>
        <input type="text" id="reg-email"  required placeholder="emil"><br>
        <input type="text" id="reg-username" required placeholder="username"><br>
        <input type="password" id="reg-password" required placeholder="password" ><br><br>
        
        <button type="submit" value="register" onclick="registerUser(event)">Register</button>
    </fieldset>
</form>