@charset "UTF-8";
/*color Theme
#07478e Blue
#0186c7 Blue
#f5f9fb White
#b6d2e6 Blue
*/
*{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 1.25rem;
}
.container{
  margin: 2.5vh auto;
  width: 60vw;
  max-width: 1000px;
  min-width: 550px;
  border-left : 5px solid #0186c7;
  border-right: 5px solid #07478e;
  padding: 1rem 2rem;
  background-color: #222;
}
body{
  background-color: #222;
}
a{
  color: #f5f9fb;
  text-decoration: none;
}
h1,h2,h3,h4,p{
  color: #f5f9fb;
  padding-left: 20px;
}
h2 {
  font-size: 2.5rem;
  text-align: center;
}
footer{
  color: #f5f9fb;
}

nav{
  width: 100vw;
  font-size: 1.3rem;
  border-bottom: 3px solid #07478e;
}
nav ul{
  display: flex;
  padding-left:100px;
  width: 80%
}
nav li{
  border: 3px transparent solid;
  margin-left: 10px;
  padding-left:0px;
  list-style: none;
  color: #f5f9fb;
  min-width: 150px;
  width: 20vw;
  text-align: center;
}
nav li:hover{
  color: #red;
  border-bottom: 3px solid #07478e;
  border-right: 3px solid #07478e;
  border-top: 3px solid #0186c7;
  border-left:3px solid #0186c7;
  transition: 0.5s;
}

.banner{
  background-size: cover;
  min-height: 200px;
  height: 14vw;
  width: 100vw;
  padding-bottom: 10px;
  margin-bottom: 0px;
  border-bottom: 3px solid #0186c7;
  display: flex;
  flex-direction: row;
}
#wolf{
  border: 3px solid transparent;
  min-height: 200px;
  height: 14vw;
  padding-left: 0px;
  margin: 0 2.5vw;
  border-radius: 0%;
}
#wolf:hover{
  border: 3px solid #07478e;
  border-radius: 50%;
  transition: 0.5s;
}
.title img{
  min-height: 200px;
  height: 14vw;
  margin:1vh auto 1vh auto;
  position: absolute;
  left: 35vw;
}
.area{
  height: 50vw;
  width: 50vw;
  min-width: 500px;
  min-height: 500px;
  max-width: 800px;
  max-height: 800px;
  border: 1px solid #b6d2e6;
  margin: 2rem auto;
  background-image: url("../image/background.webp");
}
.resetbutton{
  display: flex;
  justify-content: space-around;
}
button{
  color: #f5f9fb;
  background-color: #07478e;
  font-size: 1.5rem;
  margin: 0 auto;
}
.sidebar{
  position: absolute;
  top: 650px;
  width: 15vw;
  height: 85vh;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}
#leftBar{
  left: 2vw;
  background-image: url("../image/left.jpeg");
}
#rightBar{
  right: 2vw;
  background-image: url("../image/right.jpeg");
}
