<h1 style="margin-left:2.5vw ;">Hello this is About Me</h1>
<div class="about">
    <div class="photo">
        <img src="img/photo.jpg" alt="This is my photo">
    </div>
    <div class="paragraph">
        <p>The name is Victor, Ching Yiu Leung. I came from Hong Kong and take on another journey to Canada.</p>
        <p>Studying Software Engineering Technician in Centennial College is perparing me into the field of programming and coding.</p>
        <p>I'm a quick learner in the every aspects I encountered. For now I may be a beginner, but soon I will be a professional.</p>
    </div>
    <div class="resume">
        <p>Here is my resume if you are interested.</p>
        <a href="https://drive.google.com/file/d/1pExN3PqQMEBY64Jt6nUFeGY6FzEUM0Zs/view?usp=sharing">a link to a PDF version of your Resume</a>
    </div>
</div>