<div class="welcome">
    <h1>Never forget what you are.</h1>
    <h1>The rest of the world will not.</h1>
    <h1>Wear it like armor and it can never be used against you.</h1>
    <q>Tyrion Lannister</q>
</div>
<div class="mission">
    <h1> "To Create Extraordinary Software."</h1>
</div>

