/*  JavaScript 6th Edition
    Chapter 5
    Chapter case

    Photo zoom
    Large format style sheet

    Filename: zoom.css
*/

/* apply a natural box layout model to all elements */
* {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* reset rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 10px;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
   color: white;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
   line-height: 1;
   font-family: verdana, arial, helvetica, sans-serif;
   background: black;
}

/* footer */
footer {
   width: 100%;
   font-size: 14px;
   padding: 10px;
   clear: both;
   background: transparent;
   color: rgb(227,198,32);
   height: 140px;
}

footer div {
   text-align: left;
   padding-left: 350px;
}

footer div:hover {
   cursor: default;
}

footer div p {
   display: inline-block;
}
h1{
  text-align: center;
  padding: 0.5em 1rem;
  font-style: italic;
  font-weight: bold;
  border-bottom: 5px lightgreen solid;
  border-radius: 15%;
  margin-left: 50px;
  margin-bottom: 25px;
  font-size: 1.5rem;
  max-width:1000px;
}
.container{
  max-width: 1000px;
  border-left : 5px solid #7dc3b1;
  border-right: 5px solid #1a9351;
  display: block;
  width: 90%;
  text-align: center;
  margin: 50px;
}
button, p{
  margin: 5px;
  padding: 5px;
  line-height: 1.5rem;
  border: 1px solid #7dc3b1;
  background-color: #596565;
  color: white;
  width: 192px;
  text-align: center;
}
