@charset "UTF-8";
.container{
  margin: 2.5vh 20vw 2.5vh 20vw;
  max-width: 1000px;
  border-left : 5px solid #7dc3b1;
  border-right: 5px solid #1a9351;

}
body{
  background-color: #FEEEDF;
}
a{
  color: #085E66;
  text-decoration: none;
}
h1,h2,h3,h4,p{
  color: #085E66;
}
.title h1{
  color: darkgreen;
  font-size: 3.5rem;
  padding-left: 100px;
  font-family: 'Philosopher';
  font-weight: bold;
}
.container p{
  padding-left: 20px;
  color: #085E66;;
  font-family:'Frank Ruhl Libre', serif;
}
.banner{
  background-size: cover;
  height: 160px;
  width: 100vw;
  padding-bottom: 10px;
  margin-bottom: 0px;
  border-bottom: 3px solid #1a9351;
  display: flex;
  flex-direction: row;
}
.banner img{
  border: 3px solid transparent;
  height: 150px;
  padding-left: 0px;
  margin-left: 30px;
}
.banner img:hover{
  border: 3px solid #f6bc3f;
  transition: 0.5s;
}
.title{
  height: 152px;
  min-width: 300px;
  align-content: center;
}

nav{
  width: 100vw;
  font-size: 1.3rem;
  border-bottom: 3px solid #1a9351;
}
nav ul{
  display: flex;
  padding-left:100px;
  width: 80%
}
nav li{
  border: 3px transparent solid;
  margin-left: 10px;
  padding-left:0px;
  list-style: none;
  color: black;
  min-width: 150px;
  width: 20vw;
  text-align: center;
}
nav li:hover{
  color: #085E66;
  border-bottom: 3px solid #1a9351;
  border-right: 3px solid #1a9351;
  border-top: 3px solid #7dc3b1;
  border-left:3px solid #7dc3b1;
  transition: 0.5s;
}
.header{
  background-image:url(../image/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  height: 600px;
  border-radius: 5%;
}
.header h1{
  text-shadow:0.5px 0.5px #EEDBC6, 0.5px -0.5px #EEDBC6, -0.5px -0.5px #EEDBC6, -0.5px 0.5px #EEDBC6;
  padding-left: 15vw;
  padding-top: 3vh;
  font-size: 2.3rem;
}
.agent img{
  height: 450px;
  padding-left: 30px;
}
.agent{
  display: flex;
  flex-wrap:nowrap;
}
.agentinfo{
  margin-left: 30px;
}
.agentinfo h2{
  font-size: 1.5rem;
  color: #085E66;
}
.agentinfo p{
  color: #085E66;
  font-size: 1.1rem;
  min-width: 300px;
  padding-right: 15vh;
}
.pptlist{
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  border: 1px;
  color: #085E66;
}
.item{
  flex: 1 1 300px;
  margin: 0;
  padding: 15px 20px;
  border-bottom: 5px solid #1a9351;
  border-right: 5px solid #1a9351;
  border-top: 5px solid #7dc3b1;
  border-left:5px solid #7dc3b1;
  text-align: left;
  max-width: 350px;
  background-color: #eEdEcF;
}
.item img{
  width: 250px;
  padding: 0px;
}
#icon{
  width: 40px;
}
.item p{
  padding: 0 10px;
  line-height: 1.3rem;
  color: #085E66;
}
summary{
  padding: 15px;
  font-size: 1.2rem;
  font-weight: bolder;
  color: #085E66;
}
.item a{
  font-style: italic;
  text-decoration: underline;
  color:#085E66 ;
}
.item a:hover{
  border-bottom: 2px #085E66 solid;
}

.detailpage{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
}
.bigpic{
  grid-column: 1/3;
  grid-row: 1/3;
}
.minipic{
  width: 300px;
}
.info{
  grid-column: 1/4;
  padding-left: 20px;
}
.bigpic img{
  max-width: 650px;
  width: 50vw;
  height: 98.5%;
  border-bottom: 3px solid #1a9351;
  border-right: 3px solid #1a9351;
  border-top: 3px solid #7dc3b1;
  border-left:3px solid #7dc3b1;
}
.minipic img{
  max-width: 310px;
  border-bottom: 3px solid #1a9351;
  border-right: 3px solid #1a9351;
  border-top: 3px solid #7dc3b1;
  border-left:3px solid #7dc3b1;
}
table, th, td{
  text-align: right;
  border-bottom:2px black solid;
  font-size: 120%;
  font-weight: bolder;
  padding: 2px;
  color: #085E66;;
  font-family:'Frank Ruhl Libre', serif;
}

form{
  font-size: 1.25rem;
  padding-left: 40px;
  line-height: 3rem;
  color: #085E66;;
  font-family:'Frank Ruhl Libre', serif;
}
input, textarea{
  height: 1.5rem;
  border-radius: 10%;
  border-bottom: 2px solid #1a9351;
  border-right: 2px solid #1a9351;
  border-top: 2px solid #7dc3b1;
  border-left:2px solid #7dc3b1;
  margin: 1px 5px;
}
textarea{
  height: auto;
}
.type, .price{
  padding-left: 50px;
}
.contacttitle{
  color: darkgreen;
  font-size: 3rem;
  text-align: center;
  font-family:'Frank Ruhl Libre', serif;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 50px;
}
.button{
  margin: 50px;
  padding:0 25px;
  font-size: 1.5rem;
  border-radius: 25%;
  height: 2rem;
}
.button:hover{
  background-color: #1a9351;
  color: #eee;
  transition: 0.2s;
}
li, dd{
  line-height: 1.8rem;
  font-size: 1.25rem;
  list-style-type: square;
}
.sitemap li:hover,dd:hover{
  transition: 0.8s;
  padding-left: 10px;
  list-style-type: disc;
}
